[submodule "vendored/glfw"]
	path = vendored/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendored/googletest"]
	path = vendored/googletest
	url = https://github.com/google/googletest.git
