[submodule "vendored/glfw"]
	path = vendored/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendored/googletest"]
	path = vendored/googletest
	url = https://github.com/google/googletest.git
[submodule "vendored/volk"]
	path = vendored/volk
	url = https://github.com/zeux/volk
[submodule "Vendored/DirectX-Headers"]
	path = Vendored/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
